@media print {
  @page {
    margin: 1cm; }

    #description{
		height: 30%;
		padding: 30px;
	}
	.photo{
		border-radius: 5px;
		margin-left: 0px;
		width: 100%;
	}
	.bloc1 h1{
		font-size: 40px;
	}
	.photodescription{
		font-size: 20px;
		width: 100%;
		margin-left: 0px;
		margin-top: 55px;
		vertical-align:top;
		display: block;
	}
	#bas{
		display: none;
	}
	#bloc2{
		margin-left : 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#bloc3{
		height: 100%;
		padding: 30px;
	}
	#competence{
		width: 100%;
	}
	#interet{
		width: 100%;
		margin-left: 0px;
		display: block;
	}
	.text-interet{
		width: 200px;
	}
	footer{
		display: none;
	}

}